/* @media (prefers-color-scheme: white) {
	body{
		background-color: #fff;
	}
	*{
		accent-color: #121213;
		color: #121212;
	}
	button{
		background-color: #fff;
	}
} */
body{
	background-color: #121213;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
*{
	background-color: #121213;
	accent-color: #fff;
	color: #fff;
}
input{
	border: white solid 5px;
	border-radius: 5px;
	font-size:50px;
}
button{
	background-color: #121213;
}